* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: papayawhip;
    font-family: 'Trebuchet MS', sans-serif;
    font-style: oblique;
}

header {
    /* border: 2px solid black; */
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-variant: small-caps;
    font-weight: bold;
}

section {
    text-align: center;
    padding: 20px 0;
}

button {
    background: black;
    color: papayawhip;
    padding: 10px 20px;
    font-size: 2em;
    border-radius: 10%;
    margin: 0 40px;
}

.container-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    height: 700px;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.cell {
    background-color: white;
    border: 1px solid #2a2823;
}